*
!.gitignore
!.vimrc
!.vim/
.vim/vundle/
.vim/.netrwhist
!.vim/filetypes/
!.vim/filetypes/*
!.tmux.conf
!.bashrc
!.minttyrc
!.ssh/config
!.dotsetup.sh
!.scripts/
!.scripts/*
!.gitsetup.sh
!settings.json
