*
!.gitignore
!.vimrc
!.tridactylrc
!init.vim
!.vim/
.vim/vundle/
.vim/.netrwhist
!.vim/filetypes/
!.vim/filetypes/*
!.tmux.conf
!.bashrc
!.minttyrc
!.ssh/config
!.dotsetup.sh
!.scripts/
!.scripts/*
!.gitsetup.sh
!settings.json
!keybindings.json
!.inputrc
!.gdbinit
!.signals.gdb
!.config/
!.config/nvim
!.config/nvim/init.vim
!.config/lvim
!.config/lvim/config.lua
# why am I ignoring everything again? Ought to read the log
